@model RumoATI.ETB.Web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/login/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover">Sign Up </h2>

            <!-- Login Form -->
            <form asp-controller="Acesso" asp-action="Login" method="post" class="pure-form pure-form-aligned">
                <input asp-for="Login" placeholder="login" class="fadeIn second" required />
                <span asp-validation-for="Login" class="pure-form-message-inline"></span>
                <input asp-for="Password" placeholder="password" class="fadeIn second" required />
                <span asp-validation-for="Password" class="pure-form-message-inline"></span>
                <input type="submit" class="fadeIn fourth" value="Log In">

                @if (Model != null && !string.IsNullOrEmpty(Model.Messagem))
                {
                    <div>@Model.Messagem</div>
                }

            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>
</html>
