@model RumoATI.ETB.Web.Models.CursoViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Bem vindo a nossa página de Cursos</h2>

<div id="add-curso">
    @Html.Partial("Add", Model)
</div>

<div id="cnt-curso">
    @Html.Partial("Cursos", Model.Cursos)
</div>

